@import '~bootstrap/scss/bootstrap';

.handlebar-card {
  padding: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin: 20px;
  border: 2px;
  background: #5d8ab1;
  border-radius: 20px;
}

aside {
  background: #222222;
  color: #efefef;
  min-height: 100vh;
  padding-top: 10vh;
  .card-header {
    color: #efefef;
    background: #222222;
    .btn {
      color: #efefef;
      text-decoration: underline;
      margin: auto;
    }
    padding: 0 5px;
  }
  .sign-up {
    background: #efefef;
    color: #222222;
  }
  .card-body {
    background: #222222;
    color: #222222;
    width: auto;
  }
  form {
    input{
      width: 90%;
      padding: 5%;
      margin: 5%;
      border-radius: 5px;
    }
    .submit {
      border-radius: 15px;
      background: #222222;
      color: #efefef;
      padding: 5px 15px;
      text-align: center;
      width: 100%;
      margin-top: 30px;
      margin-right: 20%;
    }
  }
}

main {
  background: #efefef;
  color: #222222;
}
